<section id="profile">
	<div class="container">
		<div class="text-center">
			<h1>MY PROFILE:</h1>
			<hr class="star-primary">
		</div>
		<div class="row">
			<div class="col-sm-6 text-right"><strong>Email:</strong></div>
			<div class="col-sm-6 text-left"><input type="text" ng-model="profile.email" /></div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-right"><strong>Gender:</strong></div>
			<div class="col-sm-6 text-left"><input type="text" ng-model="profile.gender" /></div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-right"><strong>Age:</strong></div>
			<div class="col-sm-6 text-left"><input type="text" ng-model="profile.age" /></div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-right"><strong>Bio:</strong></div>
			<div class="col-sm-6 text-left"><textarea ng-model="profile.bio" /></textarea>
		</div>
		<div class="row text-center">
			<button class="btn btn-primary btn-xs">Save</button>
		</div>
	</div>
</section>